<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="3">

<listeners>
<listener class-name= "com.inetBanking.utilities.Reporting"/>
</listeners>

  <test name = "TestChrome">
  <parameter name = "browser" value = "chrome"/>
  <classes>
  <class name = "com.inetBanking.testCases.TC_LoginTest_001"/>
  <!--<class name = "com.inetBanking.testCases.TC_LoginDDT_002"/>-->
  <!--<class name = "com.inetBanking.testCases.TC_AddNewCustomer_003"/>-->
  <!--<class name = "com.inetBanking.testCases.TC_EditCustomer_004"/>-->
  <!--<class name = "com.inetBanking.testCases.TC_DeteleCustomer_005"/>-->
  <!--<class name = "com.inetBanking.testCases.TC_NewAccount_006"/>-->
  <class name = "com.inetBanking.testCases.TC_EditAccount_007"/>
  </classes>
  </test>
</suite>